.pagination {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0rem;
  overflow: hidden;

  .pagination-prev,
  .pagination-next {
    cursor: pointer;
    width: 20%;
    text-align: center;
    background-color: var(--pink-300);
    padding: 0.5rem;
    font-weight: 700;
    color: var(--white);
    border: 2px solid var(--pink-300);

    &:active,
    &:hover,
    &:focus {
      background-color: var(--pink-100);
      color: var(--pink-500);
    }
  }

  .pagination-page {
    flex: 1 1 0%;
    text-align: center;
    padding: 0.5rem;
    border-top: 2px solid var(--pink-300);
    border-bottom: 2px solid var(--pink-300);
  }
}
